.ListItem {
	display: flex;
	font-size: 3em;
	color: #ddd;
	outline: 2px solid #ddd;
	margin: 1%;
	padding: 0.5%;
	overflow-wrap: anywhere;
}

.ListItem:hover {
	background-color: #ddd;
	color: #222;
}

.ListItem-xButton {
	margin-left: auto;
}
