.ListItem {
	display: flex;
	font-size: 3em;
	color: #ddd;
	outline: 2px solid #ddd;
	margin: 0.5em;
	padding: 0.3em;
	overflow-wrap: anywhere;
}

.ListItem:hover {
	background-color: #ddd;
	color: #222;
}

.ListItemXButton {
	margin-left: auto;
}
