.SingleView {
	position: fixed;
	width: 100%;
	min-height: 100vh;
	left: 0;
	top: 0;
	margin-right: 0;
}

.SingleView-header {
	display: flex;
	justify-content: space-between;
	background-color: #ddd;
	outline: 2px solid #ddd;
	margin: 1%;
	padding: 1%;
	overflow-wrap: anywhere;
}

.SingleView-header > div {
	text-align: center;
}

.SingleView-header > div > h2 {
	color: #222;
	text-align: center;
	font-size: 6em;
	margin: 0;
}

.SingleView-header-date {
	color: #555;
	margin-top: 0;
	font-size: 2em;
}

.SingleView-header-editButton > img {
	margin-left: 10px;
}

.SingleView-description {
	font-size: 3em;
	color: #ddd;
	outline: 2px solid #ddd;
	margin: 1%;
	padding: 0.5%;
	overflow-wrap: anywhere;
}
